.line-clamp-2[data-v-5625a401]{-webkit-line-clamp:2}.line-clamp-2[data-v-5625a401],.line-clamp-3[data-v-5625a401]{display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden}.line-clamp-3[data-v-5625a401]{-webkit-line-clamp:3}
